$shad: 0 1px 4px rgba(0, 0, 0, .3),
-23px 0 20px -23px rgba(0, 0, 0, .6),
23px 0 20px -23px rgba(0, 0, 0, .6),
inset 0 0 40px rgba(0, 0, 0, .1);


.toDoWrapper {

	color: red;
	font-size: 100%;
	padding: 1rem 3rem;
	max-width: 100%;

	.formWrapper {
		position: fixed;
		top: 0;
		color: black;
		z-index: 5;
		background-color: rgb(255, 255, 255);
		border-radius: 0.5rem;
		outline: none;
		padding: 0.5rem;

		.taskDate {
			text-align: center;
			color: white;
		}

		.form {
			max-width: 30rem;

			display: flex;
			flex-direction: column;
			text-align: center;
			margin: 0 auto;
			padding: 0.5rem;
			border: 1px solid black;

			.formName, .formDescription {
				display: flex;
				flex-direction: column;
				margin: 0.5rem auto;
				max-width: 100%;
			}

			.formBtn {
				text-align: center;

				.formSubmitBtn {
					margin-right: 0.5rem;
				}

				.formCancelBtn {
					margin-left: 0.5rem;
				}
			}
		}

		.formDate {

		}

	}


	.calendar {
		margin-left: 10rem;
	}

	.taskControl {
		display: flex;
		justify-content: space-between;
		flex-wrap: wrap;
		padding: 0 0.5rem;

		.addNewTask, .dellAllFinishedTask {
			box-shadow: $shad;
			font-size: 0.9rem;
			display: inline-block;
			padding: 0.3rem;
			margin-top: 0.5rem;
			cursor: pointer;
			color: blue;

			&:hover {
				background-color: lightgray;

			}
		}


	}


	.toDoHeader {
		padding: 0.5rem;
		box-shadow: $shad;
		margin-bottom: 0.5rem;
		display: flex;
		justify-content: space-between;
		align-items: center;
		flex-wrap: wrap;
		max-width: 100%;

		.taskFilter {


			.filterItem {
				margin-right: 0.5rem;

			}

		}

		.search {
			border-radius: 0.3rem;
			outline: none;
			padding: 3px;

			&:focus {
				border: 2px solid cornflowerblue;
			}

		}
	}

	@media screen and (max-width: 511px) {
		.taskControl, .toDoHeader {
			flex-direction: column;
			align-content: center;
		}

	}

	.toDoItem {
		padding: 1rem 0;


		.itemHeader {
			background: rgba(255, 255, 255, 0.1);
			text-align: left;
			padding: 0.5rem 2rem 0.5rem 1rem;
			align-content: center;
			position: relative;
			margin-bottom: 0.5rem;

			.dateAndTaskStatus {
				display: flex;
				justify-content: space-between;
				align-content: center;

				.totalAndCompletedTask {
					color: blue;
				}
				.completedTasks {
					margin-left: 0.5rem;
					color: blue;
				}

			}

			.action {
				display: flex;
				justify-content: space-between;
				flex-wrap: wrap;
				align-items: center;
				margin-top: 0.5rem;

				.addTask {
					font-size: 0.8rem;
					color: blue;
					cursor: pointer;
					padding: 1px;

					&:hover {
						box-shadow: $shad;
					}

					&:active {
						background-color: lightgray;

					}
				}

				.dellAllTask,.dellFinishedTask {
					font-size: 0.8rem;
					color: blue;
					cursor: pointer;
					padding: 1px;

					&:hover {
						box-shadow: $shad;
					}

					&:active {
						background-color: lightgray;

					}
				}
				.dellAllTask {
					margin-left: 0.5rem;
				}

				.openList {
					display: inline-block;
					text-align: center;
					padding: 3px;
					color: blue;
					cursor: pointer;
					margin: 0.2rem auto;

					&:hover {
						box-shadow: $shad;
					}

					&:active {
						background-color: lightgray;

					}
				}

			}

			.dateForPlane, .dateForPlaneEdit {
				color: blue;
				margin-right: 5px;
				padding: 3px;
				border-radius: 0.5rem;
			}

			.dateForPlaneEdit {
				background-color: white;
			}

			.dayForPlane {
				color: blue;
			}

		}

		.itemHeader,
		.itemHeader::before,
		.itemHeader::after {
			box-shadow: $shad;
			border: 1px solid #bbb;
		}

		.itemHeader::before,
		.itemHeader::after {
			content: "";
			position: absolute;
			height: 95%;
			width: 99%;
			background-color: #eee;
		}

		.itemHeader::before {
			right: 15px;
			top: 0;
			transform: rotate(-1deg);
			z-index: -1;
		}

		.itemHeader::after {
			top: 5px;
			right: -5px;
			transform: rotate(1deg);
			z-index: -2;
		}

		.itemContents {
			box-shadow: $shad;
			background: rgba(0, 0, 0, 0.1);

			.task {
				border-bottom: 1px solid black;
				border-radius: 0.5rem;


				.taskHeader {
					padding: 0.5rem;
					margin: 0.5rem auto;

					.taskName {
						color: black;
						text-align: left;
						padding: 2px 0.5rem;
						background: white;
						border-radius: 0.5rem;
						outline: none;
						display: inline-block;


					}

					.createDateAndFinished {
						display: flex;
						padding: 5px;
						justify-content: space-between;
						align-items: center;

						.createDate {
							color: blue;
						}
						.finished {
							color: blue;
						}
					}
				}

				.taskContent {
					color: black;
					text-align: left;
					padding: 3px;
					margin: 0 0.75rem 0.5rem 0.75rem;
					background: white;
					border-radius: 0.5rem;
					outline: none;
				}

				.dellContent {
					text-align: right;
					margin-bottom: 0.5rem;

					.dellContentBtn {
						font-size: 0.8rem;
						color: blue;
						cursor: pointer;
						padding: 1px;
						margin-right: 1rem;

						&:hover {
							box-shadow: $shad;
						}

						&:active {
							background-color: lightgray;

						}
					}

				}
			}
		}

		.itemContents.active {

		}

		.itemContents.none {
			display: none;

		}
	}

	.footerWrapper {
		display: none;
		position: fixed;
		bottom: 0;
		left: 0;
		right: 0;
		justify-content: space-between;
		align-content: center;
		padding: 3px 0.5rem;
		box-shadow: $shad;
		background-color: white;
		z-index: 3;
	}
}

@media screen and (max-width: 450px) {
	.toDoWrapper {
		padding: 5px;

		.footerWrapper {
			display: flex;

			.burgerMenuWrapper {
				position: sticky;
				padding: 0;
				margin: 0;
			}
		}
	}
}