$shad: 0 1px 4px rgba(0, 0, 0, .3),
-23px 0 20px -23px rgba(0, 0, 0, .6),
23px 0 20px -23px rgba(0, 0, 0, .6),
inset 0 0 40px rgba(0, 0, 0, .1);


.toDoWrapper {
	color: red;
	font-size: 100%;
	padding: 1rem 3rem;

	.calendar {
		margin-left: 10rem;
	}

	.toDoHeader {
		padding: 1rem 0;
		box-shadow: $shad;
		margin-bottom: 0.5rem;
	}

	.toDoItem {
		padding: 1rem 0;

		.itemHeader {
			background: rgba(255,255,255,0.1);
			text-align: left;
			padding: 1rem;
			display: flex;
			justify-content: space-between;
			flex-wrap: wrap;
			align-content: center;
			position: relative;
			margin-bottom: 0.5rem;



			.openList {
				color: blue;
				padding: 3px;
				cursor: pointer;

				&:hover {
					box-shadow: $shad;
				}
				&:active {
background-color: lightgray;

				}
			}
			.dateForPlane,.dateForPlaneEdit {
				color: blue;
				margin-right: 5px;
				padding: 3px;
				border-radius: 0.5rem;
			}
			.dateForPlaneEdit {
				background-color: white;
			}

		}

		.itemHeader,
		.itemHeader::before,
		.itemHeader::after {
			/* Стили, чтобы отделить листы друг от друга */
			box-shadow: $shad;
			border: 1px solid #bbb;
		}

		.itemHeader::before,
		.itemHeader::after {
			content: "";
			position: absolute;
			height: 95%;
			width: 99%;
			background-color: #eee;
		}

		.itemHeader::before {
			right: 15px;
			top: 0;
			transform: rotate(-1deg);
			z-index: -1;
		}

		.itemHeader::after {
			top: 5px;
			right: -5px;
			transform: rotate(1deg);
			z-index: -2;
		}

		.itemContents {
			box-shadow: $shad;

			.task {

				.taskHeader {

				}

				.taskContent {

				}
			}
		}

		.itemContents.active {

		}

		.itemContents.none {
			display: none;

		}
	}

	.footerWrapper {
		display: none;
		position: fixed;
		bottom: 0;
		left: 0;
		right: 0;
		justify-content: space-between;
		align-content: center;
		padding: 3px 0.5rem;
		box-shadow: $shad;
		background-color: white;
		z-index: 3;
	}
}

@media screen and (max-width: 450px) {
	.toDoWrapper {
		padding: 5px;

		.footerWrapper {
			display: flex;

			.burgerMenuWrapper {
				position: sticky;
				padding: 0;
				margin: 0;
			}
		}
	}
}