$shad: 0 1px 4px rgba(0, 0, 0, .3),
-23px 0 20px -23px rgba(0, 0, 0, .6),
23px 0 20px -23px rgba(0, 0, 0, .6),
inset 0 0 40px rgba(0, 0, 0, .1);


.toDoWrapper {

	color: black;
	font-size: 100%;
	padding: 1rem 2%;
	max-width: 100%;

	.formWrapper {
		position: fixed;
		top: 0;
		margin: 0 auto;
		z-index: 5;
		background-color: rgb(255, 255, 255);
		border-radius: 0.5rem;
		outline: none;
		padding: 0.5rem;

		.taskDate {
			text-align: center;
			color: white;
		}

		.form {
			max-width: 30rem;
			display: flex;
			flex-direction: column;
			text-align: center;
			margin: 0 auto;
			padding: 0.5rem;
			border: 1px solid black;

			.formName, .formDescription {
				display: flex;
				flex-direction: column;
				margin: 0.5rem auto;
				max-width: 100%;
			}

			.formBtn {
				text-align: center;

				.formSubmitBtn {
					margin-right: 0.5rem;
				}

				.formCancelBtn {
					margin-left: 0.5rem;
				}
			}
		}
	}

	.calendar {
		margin-left: 10rem;
	}

	.taskControl {
		display: flex;
		justify-content: space-between;
		flex-wrap: wrap;
		padding: 0 0.5rem;
		@media screen and (max-width: 573px) {
			flex-direction: column;
			align-content: center;
		}

		.addNewTask, .dellAllFinishedTask {
			font-size: 0.8rem;
			color: black;
			cursor: pointer;
			padding: 0.3rem;
			margin-top: 0.5rem;
			border: 1px solid black;
			border-radius: 0.3rem;
			outline: none;
			margin-right: 1rem;


			&:hover {
				background: linear-gradient(to bottom left, white, grey);
			}

			&:active {
				border: 1px solid transparent;
			}
		}

		.addNewTask {
			color: green;
		}

		.dellAllFinishedTask {
			color: red;
		}
	}

	.toDoItem {
		position: relative;
		padding: 1rem 0;


		.itemContents {
			position: absolute;
			left: 0;
			right: 0;
			box-shadow: $shad;
			background-color: white;
			z-index: 4;
			border-bottom-right-radius: 0.5rem;
			border-bottom-left-radius: 0.5rem;

			.task {
				border-bottom: 5px solid black;
				border-radius: 0.5rem;

				.taskHeader {
					padding: 0.5rem;
					margin: 0.5rem auto;

					.taskName {
						color: black;
						text-align: left;
						padding: 2px 1rem;
						background: white;
						border-radius: 0.5rem;
						outline: none;
						display: inline-block;
						margin-bottom: 1rem;
						border-bottom: 1px solid black;
						word-break: break-all;
					}

					.taskName.completed {
						color: green;
						text-decoration: line-through;
					}


					.createDateAndFinished {
						display: flex;
						padding: 5px;
						justify-content: space-between;
						align-items: center;

						.createDate {
							color: black;
						}

						.finished {
							color: black;
						}
					}
				}

				.taskContent {
					color: black;
					text-align: left;
					padding: 3px;
					margin: 0 0.75rem 0.5rem 0.75rem;
					background: white;
					border-radius: 0.5rem;
					outline: none;
					border-bottom: 1px solid black;
					word-break: break-all;
				}

				.taskContent.completed {
					color: green;
					text-decoration: line-through;
				}

				.dellContent {
					text-align: right;
					margin-bottom: 0.5rem;

					.dellContentBtn {
						font-size: 0.8rem;
						color: black;
						cursor: pointer;
						padding: 3px;
						border: 1px solid black;
						border-radius: 0.3rem;
						outline: none;
						margin-right: 1rem;

						&:hover {
							background: linear-gradient(to bottom left, white, grey);
						}

						&:active {
							border: 1px solid transparent;
						}
					}
				}
			}
		}

		.itemContents.none {
			display: none;
		}
	}
}
