$shad: 0 1px 4px rgba(0, 0, 0, .3),
-23px 0 20px -23px rgba(0, 0, 0, .6),
23px 0 20px -23px rgba(0, 0, 0, .6),
inset 0 0 40px rgba(0, 0, 0, .1);





.sideBarWrapper {
	grid-area: s;
	position: absolute;
	top: 4.4rem;
	left: 3.3%;
	color: black;
	max-width: 10rem;
	background-color: white;
	height: 30rem;
	outline: none;
	opacity: 100%;
	transition: opacity 1s;
	box-shadow: $shad;
	padding: 5px;
z-index: 5;
	border-radius: 0.5rem;
}

.sideBarWrapper.hide {
	opacity: 0;
	transition: opacity 1s;
}

@media screen and (max-width: 450px) {

	.sideBarWrapper {
		top: 4rem;
		left: 0;
	}

}
