.calendarWrapper {
max-width: 20rem;

	.closeCalendar {
		display: inline-block;
		cursor: pointer;
		font-weight: bold;
		padding: 3px 8px;
		margin: 0.5rem 0 0 100%;
		border: 1px solid red;
		border-radius: 100%;
	}
}