.headerWrapper {
	position: relative;
  border-bottom: 5px solid black;
	border-radius: 1rem;
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
	align-items: center;
	margin: 1rem auto 0 auto;
	padding: 0 1rem;
}



