$shad: 0 1px 4px rgba(0, 0, 0, .3),
-23px 0 20px -23px rgba(0, 0, 0, .6),
23px 0 20px -23px rgba(0, 0, 0, .6),
inset 0 0 40px rgba(0, 0, 0, .1);


.sideBarWrapper {
	grid-area: s;
	position: absolute;
	top: 4rem;
	left: 3.3%;
	color: black;
	max-width: 10rem;
	background-color: white;
	outline: none;
	opacity: 100;
	transition: opacity 1s;
	box-shadow: $shad;
	padding: 5px;
	z-index: 100;
	border-radius: 0.5rem;

	.link {
		display: block;
		text-decoration: none;
		text-align: center;
		margin-top: 1rem;

		&:last-child {
			margin-bottom: 3rem;
		}

		.linkImg {
			max-width: 2.8rem;
			display: block;
			margin: 0 auto;
			border-radius: 100%;
			outline: none;
			border: 1px solid white;

			&:hover {
				background-color: rgba(0, 0, 0, .1);
				border: 1px solid darkgray;
			}
		}

		.linkTitle {
			color: black;
			display: inline-block;
		}
	}

	.close {
		padding: 0.1rem 0.5rem;
		background-color: lightcoral;
		border: 1px solid white;
		color: white;
		border-radius: 100%;
		outline: none;
		cursor: pointer;
	}
}

.sideBarWrapper.hide {
	opacity: 0;
	z-index: -3;
	transition: opacity 1s;
}
